astropy==6.0.1
keras==3.8.0
matplotlib==3.10.3
numpy==1.26.4
pandas==2.2.3
penquins==2.4.0
prettytable==3.10.0
pymongo==4.7.0
Requests==2.32.4
scikit_learn==1.6.1
tensorflow==2.16.2
tensorflow_macos==2.16.2
tqdm==4.66.4
